venv/
myworld/
# virtural environments
src/frontend/build/
src/frontend/node_modules/
src/Backend/requirements.txt
# node modules
*pyc*

src/Backend/requirements.txt

.vscode/settings.json
src/frontend/package-lock.json
src/Backend/ipv6_deltas.py
src/Backend/file.py
src/Backend/static/*

